/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body { padding: 20px }
.spacer {
    flex: 1 1 auto;
  }
.form-group{
    color: rgb(6, 66, 122);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.table{
    border: 2px solid rgb(139, 190, 238);
}
.btn-div{
 text-align: right;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
